@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    color: #2d2d2d;
}
body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
ul, li, dl, dd, ol {
    list-style: none; margin: 0; padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
a:focus, button:focus, input:focus {
    outline: 1px dotted red;
}
.hidden {
    display: none !important;
}
.show {
    display: block !important;
}
.ArticleContent * {
    font-family: unset;
}
@-webkit-keyframes slideDown {
    0% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: 100%;
        opacity: 1;
    }
}
@keyframes slideDown {
    0% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: 100%;
        opacity: 1;
    }
}
@-webkit-keyframes slideUp {
    0% {
        height: 100%;
        opacity: 1;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}
@keyframes slideUp {
    0% {
        height: 100%;
        opacity: 1;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeInUp {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeInUp {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInDown {
    0% {
        transform: translateY(-60px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeInDown {
    0% {
        transform: translateY(-60px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInLeft {
    0% {
        transform: translateX(-60px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeInLeft {
    0% {
        transform: translateX(-60px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInLeftFast {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }
    35% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeInLeftFast {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInLeftSlow {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeInLeftSlow {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInRight {
    0% {
        transform: translateX(60px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeInRight {
    0% {
        transform: translateX(60px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInRightFast {
    0% {
        transform: translateX(120px);
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeInRightFast {
    0% {
        transform: translateX(120px);
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInRightSlow {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeInRightSlow {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes zoomOut {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes zoomOut {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes zoomIn {
    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}