.vs/*
bin/*
packages/**/.gitignore
GMServer/obj/*
GMServer/bin/*
GMServer/CacheFiles/*
GMServer/logs/*
GMServer/**/.gitignore
GMClient/CacheFiles/*
GMClient/logs/*
GMClient/obj/*
GMClient/bin/*
GMClient/dist/*
GMClient/build/*
GMClient/analyze/* 
GMClient/.next/* 
GMClient/.swc/* 
GMClient/**/.gitignore
GMClient/.idea/*
NGEL.Data/obj/*
NGEL.Data/bin/*
NGEL.Data/**/.gitignore
**/.vs/*
**/bin/*
**/obj/*
**/.git/*
**/CacheFiles/*
**/wwwroot/files/*
**/..gitignore.un~
**/.gitignore.swp
**/.gitignore~
**/.idea/*
**/node_modules/*
**/*.sublime-project
**/*.sublime-workspace
**/*.iml
**/env.json
**/sftp-config.json
**/*.code-workspace
**/package-lock.json