doctype html
html(lang='ko')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= '페이지를 찾을 수 없습니다. - 샘플 운영툴'
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/404.css')
    body
        div(class='page-wrapper')
            div(class='contents-container')
                section(class='contents-wrapper')